@use '../../../styles/partials/mixins' as *;
@use '../../../styles/partials/variables' as *;
@use '../../../styles/partials/typography' as *;
@use '../../../styles/partials/global' as *;

.gallery{
    width: 100%;
    background-color: $pistachio-color;
    padding: 1rem;
}