@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.gallery{
    width:  100%;
    padding-top:1rem;
    background-color: $pistachio-color;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem;
    justify-items: center; 
    padding-top: 3rem;

    @include tablet{
        gap: 1.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    @include desktop{
        padding-top: 4rem;
    }
   
    &-item__title{
        @include tags-font-mob;
    }
    &-item__tags-list{
        @include tags-font-mob;
    }
    

    
}