@use '../../styles/partials/mixins' as*;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/global' as *;

.gallery{
    width:  100%;
    padding-top:1rem;
    background-color: $pistachio-color;
    display: grid; /* Define this container as a grid */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1rem; /* Space between the grid items */
    // padding: 20px; /* Add some padding around the grid */
    padding-left: 1rem;
    padding-right: 1rem;
    justify-items: center; /* Center-align items horizontally */

    @include tablet{
        gap: 1.5rem;
        padding-top: 3rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
   
    
    

    
}